.app {
    display: flex;
    flex-direction: column;
    justify-self: center;
    box-sizing: border-box;
}

.form {
    background-color: #33B166;
    padding: 0.5vw;
    border-radius: 1vw;
    width: 50vw;
}

.displayBox{
    background-color: #87D6A7;
    padding: 0.5vw;
    border-radius: 1vw;
    width: 50vw;
    min-height: 10vh;
}

.startButton {
    color: blue;
}